body {
    background-color: white;
}

a {
  color: #0366EE;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #0246a2;
  text-decoration: underline;
}

li {
  line-height: 1.5em;
  margin-bottom: 20px;
}
.author, .date {
  font-weight: bold;
}
.search-form {
  width: 100%;
  position: relative;
  display: flex;
}
input {
    width: 100%;
      border: 3px solid #00B4CC;
      border-right: none;
      padding: 5px;
      height: 36px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
}
.wrap{
  width: 30%;
}
.button {
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}



/* Tables
  =============== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: .5rem;
  vertical-align: baseline;
}


